.site{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 10% 20% 20% 10% 20%;
  grid-template-rows: auto auto auto 300px;
  grid-template-areas:
    'hd hd hd hd hd hd'
    '. hdline hdline hdline hdline .'
    '. . article article . .'
    'ft ft ft ft ft ft';
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*styling header*/
.header{
  grid-area: hd;
  background: #000;
  padding: 0.6% 0 0.6% 0;
  color: white;
  text-align: center;
}

.header a{
  flex-basis: 60%;
  text-decoration: none;
}

#tagline{
  margin: 0 auto;
  color: #ccc;
  font-family: 'Georgia', serif;
  font-size: 12px;
  font-style: italic;
}

.hd-left, .hd-right{
  flex-basis: 20%;
}

.hd-left{
  justify-content: flex-start;
}

.hd-btn{
  border: 1px solid #444;
  background-color: #1f1f1f;
  border-radius: 5px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  width: 115px;
  height: 36px;
}

.hd-btn:hover{
  border: 1px solid #fff;
  background-color: #000;
  transition: 0.1s ease-in;
}

#search{
  width: 36px;
  height: 36px;
  margin: 0 3% 0 4%;
}

/*article body stylings*/
.headline{
  grid-area: hdline;
  flex-direction: column;
  text-align: center;
  background: #fff;
  font-family: 'Playfair Display', serif;
  margin: 10% 0 6% 0;
}

.pg-h1{
  color: #2a2a2a;
  font-size: 3.7em;
  line-height: 1.1em;
  margin-bottom: 12;
}

.byline{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.15em;
  font-weight: 700;
}

.author{
  text-decoration: none;
  color: #1955a5;
}

.article{
  grid-area: article;
}

.body-copy{
  font-family: 'Georgia', serif;
  line-height: 1.8em;
  font-size: 1.125em;
  color: #2a2a2a;
  text-shadow: 0 1px 0 #fff;
  font-weight: normal;
  margin: 0 0 24px 0;
}

/*chart stylings*/
#chart1{
  height: 500px;
  min-width: 310px;
  max-width: 600px;
  margin: 0 auto;
}

.highcharts-background{
  stroke: #fff;
}

/*footer stylings*/
.footer{
  grid-area: ft;
  background: #a1a1a1;
}
